<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav [mode]="sidenavMode" class="sidebar">
    <app-sidebar [sidenav]="sidenav"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span>My App</span> -->
      <span class="spacer"></span>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
